@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
	font-size: 17px;
	font-family: "Bebas Neue", monospace;
	box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0;
	padding: 8px;
}

.d-flex {
	display: flex;
	flex: 0 1 auto;
}

.center {
	justify-content: center;
	align-items: center;
}

.rps-choice-box {
	width: 8rem;
	position: relative;
	top: 0px;
	opacity: 1;
	transition: all 1s;
	pointer-events: auto;
	cursor: pointer;
}

.rps-choice {
	fill: #fce8b1;
	stroke: rgb(92, 70, 0);
	stroke-width: 2px;
	width: 100%;
	height: auto;
	filter: drop-shadow(0px 0px 2px rgba(255, 220, 65, 0.5));
}

.modal {
	margin-top: 2rem;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 600;
	text-transform: capitalize;
	animation: fade-down 2s ease-in-out;
}

.success {
	background-color: rgb(102, 212, 108);
	border: 1px solid rgb(66, 146, 77);
	color:rgb(8, 117, 44)
}

.danger {
	background-color: rgb(219, 116, 113);
	border: 1px solid rgb(182, 65, 50);
	color:rgb(175, 23, 23)
}

.warning {
	background-color: rgb(233, 196, 127);
	border: 1px solid rgb(190, 143, 55);
	color:rgb(192, 149, 6)
}

.score-box {
	border: 1px solid #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 0 1 25%;
}

#player-score,
#computer-score {
	font-size: 10rem;
	color: #000;
	font-weight: bold;
	transition: font-size 1s;
}

.bottom-bar {
	position: absolute;
	bottom: 0px;
}

.bottom-bar .credits,
.bottom-bar .credits a {
	font-size: 17px;
	transition: font-size 1s;
}

.disable-pointer {
	pointer-events: none;
}

.computer-pick,
.player-pick {
	animation: jump 1s both;
}

@keyframes fade-down {
	0% {
		opacity: 1;
	}

	100% {
		transform: translateY(100%);
		opacity: 0;
	}
}

@keyframes jump {
	0% {
		transform: translateY(0%) scale(1.25, 0.75);
		animation-timing-function: ease-in;
	}

	50% {
		transform: translateY(-100%);
		animation-timing-function: ease-in;
	}

	55% {
		transform: translateY(-100%) rotate(15deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: translateY(-100%) rotate(-15deg);
		animation-timing-function: ease-in;
	}

	65% {
		transform: translateY(-100%) rotate(15deg);
		animation-timing-function: ease-in;
	}

	70% {
		transform: translateY(-100%) rotate(-15deg);
		animation-timing-function: ease-in;
	}

	85% {
		transform: translateY(-50%);
		animation-timing-function: ease-out;
	}

	95% {
		transform: translateY(0%) scale(1.25, 0.75);
		animation-timing-function: ease-out;
	}

	100% {
		transform: translateY(0%), scale(1, 1);
		animation-timing-function: ease-out;
	}
}

@media screen and (max-width: 548px) {
	#player-score,
	#computer-score {
		font-size: 5rem;
	}

	.bottom-bar .credits,
	.bottom-bar .credits a {
		font-size: 12px;
	}
}
